<JSONPathAssertion guiclass="JSONPathAssertionGui" testclass="JSONPathAssertion" testname="{{ name | default('JSON Assertion') }}" enabled="true">
  <stringProp name="JSON_PATH">{{ jsonPath }}</stringProp>
  <stringProp name="EXPECTED_VALUE">{{ expectedValue | default('') }}</stringProp>
  <boolProp name="JSONVALIDATION">true</boolProp>
  <boolProp name="EXPECT_NULL">false</boolProp>
  <boolProp name="INVERT">false</boolProp>
  <boolProp name="ISREGEX">false</boolProp>
</JSONPathAssertion>