<SizeAssertion guiclass="SizeAssertionGui" testclass="SizeAssertion" testname="{{ name | default('Size Assertion') }}" enabled="true">
  <stringProp name="Assertion.test_field">2</stringProp>
  <intProp name="Assertion.test_type">4</intProp>
  <stringProp name="Assertion.expected_size">{{ maxSize | default('1024', true) }}</stringProp>
</SizeAssertion>