<ForEachController guiclass="ForEachControlPanel" testclass="ForEachController" testname="{{ name }}" enabled="true">
  <stringProp name="ForEachController.inputVar">{{ inputVar }}</stringProp>
  <stringProp name="ForEachController.outputVar">{{ outputVar }}</stringProp>
  <stringProp name="ForEachController.separator">{{ separator | default('_') }}</stringProp>
  <boolProp name="ForEachController.returnSameStringOnEmpty">true</boolProp>
  <boolProp name="ForEachController.useSeparator">true</boolProp>
</ForEachController>