<IfController guiclass="IfControllerPanel" testclass="IfController" testname="{{ name }}" enabled="true">
  <stringProp name="IfController.condition">{{ condition }}</stringProp>
  <boolProp name="IfController.evaluateAll">{{ evaluateAll | default('false') }}</boolProp>
  <boolProp name="IfController.useExpression">true</boolProp>
</IfController>