<LoopController guiclass="LoopControlPanel" testclass="LoopController" testname="{{ name | default('Loop Controller') }}" enabled="true">
  <stringProp name="LoopController.loops">{{ loops | default('-1') }}</stringProp>
  <boolProp name="LoopController.continue_forever">{{ continueForever | default('false') }}</boolProp>
</LoopController>