<TransactionController guiclass="TransactionControllerGui" testclass="TransactionController" testname="{{ name }}" enabled="true">
  <boolProp name="TransactionController.includeTimers">{{ includeTimers | default('false') }}</boolProp>
  <boolProp name="TransactionController.parent">true</boolProp>
</TransactionController>