<WhileController guiclass="WhileControllerGui" testclass="WhileController" testname="{{ name }}" enabled="true">
  <stringProp name="WhileController.condition">{{ whileCondition | default('${__JMeterThreadLastSampleOk()}') }}</stringProp>
</WhileController>