<ConstantTimer guiclass="ConstantTimerGui" testclass="ConstantTimer" testname="{{ name | default('Constant Timer') }}" enabled="true">
  <stringProp name="ConstantTimer.delay">{{ delayMs | default('1000') }}</stringProp>
</ConstantTimer>