<CSSExtractor guiclass="CssExtractorGui" testclass="CSSExtractor" testname="{{ name | default('CSS/JQuery Extractor') }}" enabled="true">
  <stringProp name="CSSExtractor.refname">{{ variable }}</stringProp>
  <stringProp name="CSSExtractor.expr">{{ expression }}</stringProp>
  <stringProp name="CSSExtractor.attribute">{{ attribute | default('') }}</stringProp>
  <stringProp name="CSSExtractor.default_value">{{ defaultValue | default('NOT_FOUND') }}</stringProp>
  <stringProp name="CSSExtractor.match_number">{{ matchNo | default('0') }}</stringProp>
</CSSExtractor>