<CacheManager guiclass="CacheManagerGui" testclass="CacheManager" testname="{{ name | default('HTTP Cache Manager') }}" enabled="true">
  <boolProp name="clearEachIteration">{{ clearEachIteration | default('false') }}</boolProp>
  <boolProp name="useExpires">{{ useExpires | default('true') }}</boolProp>
</CacheManager>