<CookieManager guiclass="CookiePanel" testclass="CookieManager" testname="{{ name | default('HTTP Cookie Manager') }}" enabled="true">
  <boolProp name="CookieManager.clearEachIteration">{{ clearEachIteration | default('false') }}</boolProp>
  <boolProp name="CookieManager.cookies">true</boolProp>
  <collectionProp name="CookieManager.cookies"/>
</CookieManager>