<CSVDataSet guiclass="TestBeanGUI" testclass="CSVDataSet" testname="{{ name | default('CSV Data Set') }}" enabled="true">
  <stringProp name="delimiter">{{ delimiter | default(',') }}</stringProp>
  <stringProp name="file">{{ file }}</stringProp>
  <boolProp name="ignoreFirstLine">true</boolProp>
  <stringProp name="quotedData">false</stringProp>
  <boolProp name="recycle">{{ recycle | default('true') }}</boolProp>
  <stringProp name="shareMode">shareMode.all</stringProp>
  <boolProp name="stopThread">{{ stopThread | default('false') }}</boolProp>
  <stringProp name="variableNames">{{ vars | join(',') if vars is defined else '' }}</stringProp>
</CSVDataSet>