<JDBCSampler guiclass="JDBCSamplerGui" testclass="JDBCSampler" testname="{{ name }}" enabled="true">
  <stringProp name="dataSource">{{ dataSource }}</stringProp>
  <stringProp name="query">{{ query }}</stringProp>
  <stringProp name="queryType">{{ queryType | default('Select Statement') }}</stringProp>
  <stringProp name="variableNames"></stringProp>
  <stringProp name="queryArguments"></stringProp>
  <stringProp name="queryArgumentsTypes"></stringProp>
</JDBCSampler>