<ResultCollector guiclass="SimpleDataWriter" testclass="ResultCollector" testname="{{ name | default('Simple Data Writer') }}" enabled="true">
  <boolProp name="ResultCollector.error_logging">false</boolProp>
  {% if file is defined and file %}
  <stringProp name="filename">{{ file }}</stringProp>
  {% else %}
  <stringProp name="filename"></stringProp>
  {% endif %}
</ResultCollector>