<JSR223PostProcessor guiclass="TestBeanGUI" testclass="JSR223PostProcessor" testname="{{ name | default('JSR223 PostProcessor') }}" enabled="true">
  <stringProp name="scriptLanguage">{{ language | default('groovy') }}</stringProp>
  <stringProp name="parameters"></stringProp>
  <boolProp name="cacheKey">{{ cacheKey | default('true') }}</boolProp>
  <stringProp name="script">{{ script | default('') }}</stringProp>
</JSR223PostProcessor>